/* add your CSS here */
body {
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	box-shadow: 12px 10px #F0F0F0;
	width: 320px;
}
.animal-name {
	font-weight: bold;
	border: 5px;
	padding: 5px;
}
img {
	width: 300px;
	border: solid lightgrey 1px;
	margin: 10px 0px;
}
/*div*/
#facts {
	font-style: italic;
}
.contentBox {
	border: solid lightgrey 1px;
	padding:  10px;
	width: 300px;
	align-content: center;
}
.secondBox {
	width: 280px;
}
ul { 
	list-style-type: none; 
	margin: 0px; 
	padding: 0px;
}
.label {
	font-weight: bold;
}
